
bin/Debug/net6.0/DFA.runtimeconfig.json
bin/Debug/net6.0/DFA.pdb
bin/Debug/net6.0/DFA.exe
bin/Debug/net6.0/DFA.dll
bin/Debug/net6.0/DFA.deps.json
.vscode/tasks.json
.vscode/launch.json
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/DFA.AssemblyInfo.cs
obj/Debug/net6.0/DFA.AssemblyInfoInputs.cache
obj/Debug/net6.0/DFA.assets.cache
obj/Debug/net6.0/DFA.csproj.AssemblyReference.cache
obj/Debug/net6.0/DFA.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/DFA.csproj.FileListAbsolute.txt
obj/Debug/net6.0/DFA.dll
obj/Debug/net6.0/DFA.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/DFA.genruntimeconfig.cache
obj/Debug/net6.0/DFA.GlobalUsings.g.cs
obj/Debug/net6.0/DFA.pdb
obj/Debug/net6.0/ref/DFA.dll
obj/Debug/net6.0/refint/DFA.dll
obj/DFA.csproj.nuget.dgspec.json
obj/DFA.csproj.nuget.g.props
obj/DFA.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
DFA.csproj
